<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex saepe magnam harum dolorum veritatis quaerat ullam laudantium eligendi iure ad tenetur libero, voluptates vel, ea exercitationem error nemo expedita doloribus. Iure illo accusamus ratione nam eligendi provident ad asperiores voluptatem?</p>
    </div>
</div>