<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
    ratione velit architecto. Accusamus nisi inventore ut odit ea, culpa ex!
    Illum vel ipsa officia. Officiis culpa cumque tempore! Labore, accusamus!</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fuga
    ipsa maxime nobis natus numquam voluptatibus recusandae, inventore dicta,
    ipsam modi sequi, ea necessitatibus quaerat libero doloremque vel aliquam
    eaque.</p>
  <a
    href="https://github.com/alframirez"
    class="btn btn-primary btn-lg"
  >GitHub</a>
</div>